table,
tr,
th,
td,
caption {
  border: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
tfoot {
  text-align: center;
}
nav li{
  display: flex;
  align-items:;
}